@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Planner</h1>
    <p class="lead">This planning application helps you keep track of all of your assigments, sorted in descending order</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Click on the 'Add Assignment tab at the top of the page to get the planning started. There will be
            examples already built in to the page to show the format.'
        </p>
       
    </div>
    
</div>