@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Wide Importers</h1>
    <p class="lead">One stop shop for all of the essential items. Click on the 'Search Our Site' tab to enter an item to look for.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        
</div>
</div>